.dropdown {
    position: relative;
    display: inline-block;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
  
  .dropdown-toggle {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
  }
  
  .dropdown-toggle:hover {
    color: #b39200;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000da;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
    animation: fadeIn 0.3s ease-out;
    margin-top: 17px;
  }
  
  .dropdown-menu li {
    width: 100%; /* Assicura che li occupi tutta la larghezza */
  }
  
  .dropdown-menu li a {
    padding: 10px 0; /* Rimuovi il padding laterale */
    text-decoration: none;
    display: block;
    font-size: 15px;
    transition: background-color 0.2s;
    text-align: center;
    width: 100%; /* Assicura che il link occupi tutta la larghezza */
  }
  .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #0000001b; /* oppure #ffffff33 se vuoi trasparenza */
  }
  
  .dropdown-menu li a:hover {
    background-color: #f8f9fa;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }
  
  