.dropdown {
  position: relative;
  display: inline-block;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 400;
  font-family: inherit;
}

.dropdown-toggle:hover {
  color: #b39200;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00000059;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  padding: 10px 0;
  text-decoration: none;
  display: block;
  font-size: 15px;
  transition: background-color 0.2s;
  text-align: center;
  width: 100%;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #0000001b;
}

.dropdown-menu li a:hover {
  background-color: #f8f9fa;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  1% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

/* Dropdown menu verticale per mobile */
@media screen and (max-width: 1170px) {
  .dropdown-toggle {
    font-size: 18px;
  }

  .dropdown-menu.mobile-dropdown {
    position: static !important;
    transform: none !important;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
    animation: none;
    opacity: 1;
    margin-top: 15px;
  }

  .dropdown-menu.mobile-dropdown li a {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #444;
  }

  .dropdown-menu.mobile-dropdown li a:hover {
    background-color: #222;
    color: #b39200;
  }
}
