.marafa-island-page {
  padding-top: 90px;
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .marafa-island-page {
    padding-top: 70px;
  }
}

@media screen and (max-width: 576px) {
  .marafa-island-page {
    padding-top: 60px;
  }
}
