.safari-container {
  padding: 20px;
  height: 700px; /* altezza fissa ripristinata */
  background-image: url('../images/sfondo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* Contenuto */
.safari-content {
  max-width: 600px;
  padding: 0 20px;
}

.safari-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.safari-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
.safari-content h1 {
  font-size: 32px;
}

.safari-content p {
  font-size: 16px;
}

.safari-container {
  padding: 40px 10px;
}

.safari-content {
  padding: 0 10px;
}
}


@media screen and (max-width: 1200px) {
  .safari-container {
    height: 650px;
  }
}

@media screen and (max-width: 992px) {
  .safari-container {
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .safari-container {
    height: 550px;
  }
}

@media screen and (max-width: 576px) {
  .safari-container {
    height: 500px;
  }
}

@media screen and (max-width: 480px) {
  .safari-container {
    height: 450px;
  }
}

@media screen and (max-width: 360px) {
  .safari-container {
    height: 400px;
  }
}
