.top-destinations {
    margin: 40px auto;
    padding: 20px;
    text-align: center;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 400;
  }
  
  /* Contenitore delle card */
  .cards-container {
    display: grid;
    gap: 20px;
    /* 3 colonne quando lo spazio lo permette, altrimenti adattamento automatico */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto; /* Centra il grid */
    padding: 0 20px;
  }
  
  /* Stile singola card */
  .card {
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; /* Immagine in alto, testo in basso */
  }
  
  /* Effetto hover */
  .card:hover {
    transform: translateY(-4px);
  }
  
  /* Sezione immagine */
  .card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ritaglia l'immagine se necessario */
  }
  
  /* Contenitore del testo e bottone */
  .card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  /* Titolo e descrizione */
  .card-content h3 {
    margin: 0 0 10px 0;
    font-size: 1.4rem;
    font-weight: 400;
  }
  
  .card-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 200;
  }
  
  /* Pulsante */
  .destinations-cta-button {
    background-color: #ff8800;
    color: #fff;
    border: 1px solid #ff8800;;
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .destinations-cta-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  